@use "../../scss/" as *;

// .footer {
//     position: relative;
//     padding: 6rem 2rem;
//     background-position: top;
//     background-size: cover;
//     background-repeat: no-repeat;
  

   
// }

.footer{
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: $box-shadow;

    &::before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        @include overlay()
    }
    &::after{
        content: '';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
       background-image: linear-gradient(to top, $body-bg,rgb($black,0));
    }
}
.footer__content {
    margin-top: 3rem;
    @include flex(center,center);
    
      
      &__logo {
        z-index: 100;
        // margin-bottom: 3rem;
      }

      &__menus {
          z-index: 100;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
      }

      &__menu {
          @include flex(center,space-around);
          flex-direction: column;
          margin-top: 3rem;
          font-size: 1.5rem;
          font-weight: 600;

          & > * ~ * {
              margin-top: 1rem;
          }
      }
    }